main {
  .container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100% !important;
    .g-0 {
      .order-lg-2 {
        .region-content {
          padding: 0 !important;
        }
      }
    }
  }
}
