$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(0, 0, 0);
$text-color: #ffffff;
$background-color: rgba(0, 0, 0, 0.5);
$accent-color: #6d02ff;
$date-color: #9b3e97;

// Define font size variables
$main-font-size: 40px;
$large-font-size: 60px;
$small-font-size: 30px;